<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="overview-text">
            <h2 class="header-text">Hampukuとは?</h2>
            <p class="leading-text grey-text text-accent-4">
                あなたが持っているスキル、知識にはどんなものがありますか？<br>
                英語、プログラミング、心理学、統計学..<br>
                Hampukuでは、その知識を「問題文」として作成し、Web上に公開することができます。
            </p>
            <p class="leading-text grey-text text-accent-4">
                あなたの作った問題文が、誰かにとって、新たな知識獲得のキッカケになります。<br>
                また、「誰かのためのアウトプット」をすることで、あなた自身が、知識の整理ができ、更に理解を深め、知識の隙間を発見するキッカケになるかしれません。
            </p>
        </div>
    </div>
</section>
<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="overview-text">
            <h2 class="header-text">本当に知っているのか、確かめてみよう。</h2>
            <p class="leading-text grey-text text-accent-4">
                知っているつもりだったことが、誰かに説明しようとしたとたん、うまく言葉にできなかった。<br>
                そんな経験はありませんか?<br>
                <br>
                教えよう、説明しようと思うと、漠然とした理解では不十分です。<br>
                教えるためには、明確にその物事を理解していなければならないのです。<br>
                説明できなければ、知っているとは言えないのかもしれません。
            </p>
        </div>
    </div>
</section>
<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="overview-text">
            <h2 class="header-text">教えることを、もっとカジュアルに</h2>
            <p class="leading-text grey-text text-accent-4">
                教えることが大事だとわかっていても、黒板を背に、大勢の前で講義をするのはむずかしい。<br>
                Hampukuでは、あなたが教師になるためのハードルを低くし、もっとカジュアルに教えることを実現するために「問題文」を作成し、Web上で公開するというアプローチをとります。
            </p>
            <p class="leading-text grey-text text-accent-4">
                自分は、誰かに教えるほどの知識は持っていない。<br>
                そう思うかもしれません。<br>
                しかし、ほんの些細なものでも、あなたの知識を必要としている人が必ずいます。<br>
                大事なのは、あなたが誰かの1歩先にいることに気づくことです。
            </p>
        </div>
    </div>
</section>