<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="leading">
            <h1 class="header-text">マイページ</h1>
            <p class="grey-text text-accent-4">
                こんにちは。<%= @user.username %>さん
            </p>
        </div>
        <div class="container">
            <% if @books.any? %>
            <ul class="book-list">
            <% @books.each do |book| %>
                <li class="book"><%= book.name %></li>
            <% end %>
            </ul>
            <% else %>
            <p>ブックがありません。</p>
            <% end %>
        </div>
    </div>
</section>
