<header class="fix-header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Hampuku</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="badges.html">登録</a></li>
        <li><a href="collapsible.html">ログイン</a></li>
      </ul>
    </div>
  </nav>
</header>