<ul id="slide-out" class="sidenav center-align">
    <div class="light-blue darken-4">
        <li><a class="waves-effect white-text" href="#!">ログイン</a></li>
        <li><a class="waves-effect white-text" href="#!">登録</a></a></li>
    </div>
    <li><a class="waves-effect" href="#!">Hampukuとは?</a></li>
    <li><a class="waves-effect" href="#!">Hampukuの使い方</a></li>
    <li><a class="waves-effect" href="#!">お問い合わせ</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu-btn">dehaze</i></a>