<section class="main-item-wrapper blue-text text-darken-4">
  <div class="main-item">
    <div class="lead-text">
      <h1>Hampuku</h1>
      <p>問題をつくってシェアする</p>
    </div>
    <div class="login-form">
      <form>
        <div>
          <div class="input-field">
            <a href="/users/sign_in" class="waves-effect waves-light btn-large">ログイン</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>