<section class="main-item-wrapper blue-text text-darken-4">
  <div class="main-item">
    <div class="lead-text">
      <h1>Hampuku</h1>
      <p>新たなアウトプットの形</p>
    </div>
    <div>
      <%= render "shared/alert" %>
      <div class="input-field">
        <%= link_to "はじめる", book_index_path, class: "waves-effect waves-light btn-large" %>
        <p>or</p>
        <% if user_signed_in? %>
          <p><%= link_to "マイページ", admin_index_path, class: "blue-grey-text" %></p>
        <% else %>
          <p><%= link_to "ログイン", user_session_path, class: "blue-grey-text" %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>