<section class="main-item-wrapper blue-text text-darken-4">
    <div class="main-item">
        <div class="container">
            <div class="book-detail row z-depth-5 light-blue darken-4">
                <div class="col m3 white-text left-contents">
                    <div class="bottom">
                        <div class="bottom-row">
                            <i class="small material-icons">account_circle</i><span>大里 匠</span>
                        </div>
                        <div class="bottom-row">
                            <i class="small material-icons">access_time</i><span>2018.10.04</span>
                        </div>
                        <div class="bottom-row">
                            <i class="small material-icons amber-text">star</i><span>120</span>
                        </div>
                    </div>
                </div>
                <div class="col m9 white grey-text text-darken-2 z-depth-1 left-align right-contents">
                    <p class="title"><%= @book.name %></p>
                    <%= simple_format(@book.description, class: "description") %>
                    <div class="actions-btn">
                        <p><%= link_to '問題を解く',admin_index_path,class: "waves-effect waves-light btn" %></p>
                    </div>
                </div>
            </div>
            <p><%= link_to '戻る',admin_index_path,class: "waves-effect waves-light btn-flat back-btn" %></p>
        </div>
    </div>
</section>