/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("light-blue", "darken-4") !default;
@import 'materialize';

input[type="submit" i] {
    color: inherit;
}

.material-icons {
    user-select: none;
}

.bg-blue-shape {
    background: linear-gradient(170deg,#01579b 5%, #fff 10%,#fff 85% ,#01579B 90%, #01579b 100%);
}

.header-text {
    font-size: 2rem;
    margin: 2rem 0;
}

.leading {
    padding: 30px 0;
}

.main-item-wrapper {
    height: 100vh;
    display: table;
    width: 100%;
}

.main-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: fadeIn .8s ease;
}

.lead-text {
    margin: 3em 0;
}

.login-container {
    width: 30%;
}

.actions {
    margin: 2rem 0;
}

#error_explanation h2 {
    font-size: 1rem;
}

#error_explanation {
    color: color("red", "accent-4");
}

.alert {
    color: color("red", "accent-4");
}

.notice {
    color: color("teal", "darken-3");
}

.menu-btn {
    color: color("light-blue", "darken-4");
    font-size: 3rem;
    padding: 5px;
    position: fixed;
    top: 20px;
    left: 30px;
    border-radius: 30px;
}

.menu-head {
    padding: 15px;
    margin: 0 0 30px 0;
}

li.menu-head > a {
    font-size: 1.3rem;
    color: color("light-blue", "darken-4");
}

.search-input-field {
    margin: 0 auto;
    width: 70%;
}

.overview-text{
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

.leading-text{
    line-height: 2rem;
    letter-spacing: 1px;
}

.input-container {
    width: 60%;
    margin: 0 auto;
}

.modal-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    display: table;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #00000096;
    transition: opacity .5s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 60%;
    margin: 0 auto;
    padding: 90px 50px;
    background: #fff;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.33);
    transition: all .5s ease;
    position: relative;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.book-list {
    margin: 30px 0 50px 0;
    border: 1px solid #0000003b;
}

.book-row-wrapper {
    position: relative;
    
    .setting-btn {
        position: absolute;
        top: 13px;
        right: 5px;
        cursor: pointer;
    }
    
    .setting-btn i {
        font-size: 1.8rem;
    }
    
    .setting-btn p {
        margin: 9px 20px;
    }
}

.book-row {
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 1px solid #0000003d;
    margin: 0;
    transition: .3s ease-out;
    text-align: center;
}

.book-row:hover {
    background: color("grey", "lighten-3");
}

.book-row a:hover {
    color: color("amber","darken-1") !important;
}

.action-btn {
    position: absolute;
    height: 70%;
    width: 100%;
    background: #fff;
    padding: 0;
    text-align: center;
    top: 8px;
}

.action-btn:hover {
    background: color("grey", "lighten-3");
}

.action-btn p {
    margin: 0;
}

.slide-enter-active {
    transition: all .3s ease;
}
.slide-leave-active {
    transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
    transform: translateX(200px);
    opacity: 0;
}

.book-row i.sp-show {
    display: none;
}

@keyframes fadeIn {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.book-add-btn {
    position: fixed;
    bottom: 35px;
    right: 10px;
}

.book-detail {
    min-height: 300px;
    max-width: 1000px;
    margin: 50px auto;
}

.book-detail {
    .title {
        font-size: 1.3rem;
        font-weight: bold;
        opacity: 0;
        animation: fadeIn .8s ease .3s forwards;
    }
    
    .description {
        font-size: 0.9rem;
        opacity: 0;
        animation: fadeIn .8s ease .3s forwards;
        margin-bottom: 100px;
    }
    
    .actions-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0;
        animation: fadeIn .8s ease .5s forwards;
    }
    
    .actions-btn a {
        background: color('teal','darken-1');
    }
    
    .actions-btn a:hover {
        background: color('teal','darken-4');
        color: #fff;
    }

    .right-contents {
        position: relative;
        min-height: 300px;
    }
    
    .left-contents {
        position: relative;
        min-height: 300px;
    }
    
    @media #{$small-and-down} {
        .left-contents {
            font-size: 0.9rem;
            min-height: 110px;
        }
        
        .right-contents {
            min-height: 200px;
            width: 100%;
        }
    }
    
    .bottom {
        animation: fadeIn .8s ease 1s forwards;
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-align: left;
        opacity: 0;
    }
    
    .bottom-row {
        display: flex;
        align-items: center;
        padding: 5px;
        
        i {
            font-size: 1.5rem;
        }
    }

}

.back-btn:hover {
    background: color('grey','darken-3');
    color: #fff;
}

[v-cloak] {
    display: none;
}

@media #{$medium-and-down} {
    .login-container {
        width: 50%;
    }   

    .login-container {
        width: 80%;
    }   

    .menu-btn {
        font-size: 2rem;
        top: auto;
        left: 0;
        bottom: 50px;
        border-radius: 0 5px 5px 0;
        z-index: 99;
    }    

    .search-input-field {
        width: 90%;
    }

    .book-list {
        border: none;
        overflow: hidden;
    }
    
    .book-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    
    .book-row {
        text-align: left;
        padding: 10px 0;
        margin: 20px 0;
        border-left: 5px solid color("light-blue","darken-4");
        border-right: 1px solid #0000003d;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }

    .action-btn {
        position: absolute;
        width: 90%;
        height: 90%;
        background: #fff;
        padding: 30px;
        text-align: center;
        top: 0;
    }

    .slide-enter-active {
        transition: all .3s ease;
    }
    .slide-leave-active {
        transition: all .3s ease;
    }
    .slide-enter, .slide-leave-to {
        transform: translateX(50px);
        opacity: 0;
    }
    
    .book-row-header {
        display: none;
    }

    .book-row i.sp-show {
        display: contents;
    }

    .modal-container {
        width: 90%;
        padding: 90px 20px;
    }

    .overview-text{
        width: 90%;
    }

    .input-container {
        width: 90%;
    }
}