/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("light-blue", "darken-4") !default;
@import 'materialize';

input[type="submit" i] {
    color: inherit;
}

.bg-blue-shape {
    background: linear-gradient(170deg,#01579b 5%, #fff 10%,#fff 85% ,#01579B 90%, #01579b 100%);
}

.header-text {
    font-size: 2rem;
    margin: 2rem 0;
}

.leading {
    padding: 30px 0;
}

.main-item-wrapper {
    height: 100vh;
    display: table;
    width: 100%;
}

.main-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lead-text {
    margin: 3em 0;
}

.login-container {
    width: 30%;
}

.actions {
    margin: 2rem 0;
}

#error_explanation h2 {
    font-size: 1rem;
}

#error_explanation {
    color: color("red", "accent-4");
}

.alert {
    color: color("red", "accent-4");
}

.notice {
    color: color("teal", "darken-3");
}

@media #{$medium-and-down} {
    .login-container {
        width: 50%;
    }   
}

@media #{$small-and-down} {
    .login-container {
        width: 80%;
    }   
}

.menu-btn {
    color: color("light-blue", "darken-4");
    font-size: 3rem;
    padding: 5px;
    position: fixed;
    top: 20px;
    left: 30px;
    border-radius: 30px;
}

@media #{$small-and-down} {
    .menu-btn {
        font-size: 2rem;
        top: auto;
        left: 0;
        bottom: 50px;
        border-radius: 0;
    }    
}

.menu-head {
    padding: 15px;
    margin: 0 0 30px 0;
}

li.menu-head > a {
    font-size: 1.3rem;
    color: color("light-blue", "darken-4");
}

.search-input-field {
    margin: 0 auto;
    width: 70%;
}

@media #{$small-and-down} {
    .search-input-field {
        width: 90%;
    }
}

.overview-text{
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

@media #{$small-and-down} {
    .overview-text{
        width: 90%;
    }
}

.leading-text{
    line-height: 2rem;
    letter-spacing: 1px;
}